[Unit]
Description=piccolo-perf Network Performance Agent
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/piccolo-perf agent \
  -config-url http://config-server/piccolo-config.json
Restart=on-failure
RestartSec=10s
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true
DynamicUser=yes

[Install]
WantedBy=multi-user.target
